section.blog
  .container
    .blog-main
      +blockContent({title: "Our Regular Updated Blog Posts", desc: "tempus, lectus risus In' perdiel tellus, sed faucibus ipsum ipsurn nun neque. ", titleClass:"medium"})
      .blog-list
        .blog-item
          img(src="./images/blog-1.jpg", alt="blog-1").blog-item-image
          .blog-item-content
            h3.blog-item-title SEO tips and tricks for new
            p.blog-item-desc Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!, a porititar ju-to ode id oros. Proin lloborti* 
        .blog-item
          img(src="./images/blog-1.jpg", alt="blog-1").blog-item-image
          .blog-item-content
            h3.blog-item-title SEO tips and tricks for new
            p.blog-item-desc Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!, a porititar ju-to ode id oros. Proin lloborti* 
        .blog-item
          img(src="./images/blog-1.jpg", alt="blog-1").blog-item-image
          .blog-item-content
            h3.blog-item-title SEO tips and tricks for new
            p.blog-item-desc Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!, a porititar ju-to ode id oros. Proin lloborti* 
