section.features#features
  .container
    .features-main
      +featuresItem({
        srcset: "./images/feature.png 2x",
        alt: "Features pic",
        heading: "WHO WE ARE",
        title: "Top #1 Marketing Agency in the World",
        desc: "Nunc venenalis Iorem sed risus trlstque sent per. Duls porta,  rutruni tempus, lectus risus imDerdiet tellus, sed faucibus sum ipsum ncn neque. Curubilu r eleirend, erut ullamcorper porta. eras turpis. ",
        titleClass: "medium",
        headingClass: "semi-bold",
      })

.features-bottom
  .container
    .features-bottom-main
      +featuresItem({
        srcset: "./images/testmonial.png 2x",
        alt: "Features pic",
        heading: "OUR MISSION & GOAL",
        title: "Realize Your Business Goals For Profit",
        desc: "Nunc venenalis Iorem sed risus trlstque sent per. Duls porta,  rutruni tempus, lectus risus imDerdiet tellus, sed faucibus sum ipsum ncn neque. Curubilu r eleirend, erut ullamcorper porta. eras turpis. ",
        titleClass: "medium",
        headingClass: "semi-bold",
        className: 'reverse'
      })

          