footer.footer#footer
  .container
    .footer-main
      .footer-top
        .footer-top-main
          img(srcset="./images/footer-logo.png 2x", alt="footer logo").footer-top-logo
          span.footer-top-desc Nulla non otllo venicula, ultricles lorem a, allquarn nes!. Etlam et lorem lobortls, cony allis nunc.
          ul.footer-top-socials
            a(href="").footer-top-social
              i.fab.fa-facebook
            a(href="").footer-top-social
              i.fab.fa-twitter
            a(href="").footer-top-social
              i.fab.fa-instagram
        .footer-top-info
          ul.footer-top-column
            li.footer-top-column-heading Services
            a(href="").footer-top-column-item Email Marketing Social
            a(href="").footer-top-column-item Media Marketing Search
            a(href="").footer-top-column-item Engine Optimization
            a(href="").footer-top-column-item Prnelnct Devnionmnni
            a(href="").footer-top-column-item Web Development
          ul.footer-top-column
            li.footer-top-column-heading Support
            a(href="").footer-top-column-item Sizicik. Community 
            a(href="").footer-top-column-item Support Documents
            a(href="").footer-top-column-item Help:le-Lk API Documents
            a(href="").footer-top-column-item 5nvin,es Witus
            a(href="").footer-top-column-item Email Contort
          ul.footer-top-column
            li.footer-top-column-heading Contact Us
            a(href="").footer-top-column-item suppariaringrozom  
            a(href="tel:+84707378417").footer-top-column-item (+84) 707378417
            a(href="").footer-top-column-item North Cry, 547 Link Road. 
      .footer-bottom
        span.footer-bottom-text All Right Reserved by Us! Copyright 2021 
 
 
 
 
