section.newsLetter
  .container
    .newsLetter-main
      .newsLetter-inner
        +blockContent({title: "Sign up to Our Newsletter", desc:"You need to get positive results when you spend hard earned revenue and time."})
        form.newsLetter-form
          input.newsLetter-form-input(type="text" placeholder="Email...")
          button.btn.btn--primary.newsLetter-form-submit Subscribe