section.testmonial#testmonial
  .container
    .testmonial-main
      .testmonial-list
        img(srcset="./images/bg.png 2x", alt="").testmonial-bg
        .testmonial-column
          .testmonial-item
            .testmonial-star
              span
                i.fas.fa-star.testmonial-icon
              span 4.5
            .testmonial-item-avatar-wrapper  
              img(src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bW9kZWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60", alt="").testmonial-item-avatar
            h2.testmonial-item-name Mark Parker
            span.testmonial-item-position CEO of Fiverr
            span.testmonial-item-desc Cura bitur susci pit nequeut lacus interd sit amet dictum nunc eleifend. Mauris pulvinar odio at nunc labortis. 
            img(srcset="./images/comma.png 2x", alt="Comma pic").testmonial-comma
          .testmonial-item
            .testmonial-star
              span
                i.fas.fa-star.testmonial-icon
              span 4.5  
            .testmonial-item-avatar-wrapper  
              img(src="https://images.unsplash.com/photo-1583766395091-2eb9994ed094?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fG1vZGVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60", alt="").testmonial-item-avatar
            h2.testmonial-item-name Mark Parker
            span.testmonial-item-position CEO of Fiverr
            span.testmonial-item-desc Cura bitur susci pit nequeut lacus interd sit amet dictum nunc eleifend. Mauris pulvinar odio at nunc labortis. 
            img(srcset="./images/comma.png 2x", alt="Comma pic").testmonial-comma
        .testmonial-column
          .testmonial-item
            .testmonial-star
              span
                i.fas.fa-star.testmonial-icon
              span 4.5  
            .testmonial-item-avatar-wrapper  
              img(src="https://images.unsplash.com/photo-1524250502761-1ac6f2e30d43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fG1vZGVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60", alt="").testmonial-item-avatar
            h2.testmonial-item-name Mark Parker
            span.testmonial-item-position CEO of Fiverr
            span.testmonial-item-desc Cura bitur susci pit nequeut lacus interd sit amet dictum nunc eleifend. Mauris pulvinar odio at nunc labortis. 
            img(srcset="./images/comma.png 2x", alt="Comma pic").testmonial-comma
      +blockContent({heading:"TESTMONIALS",title:"Client’s Fedback",desc:"Why I say okl chap that is. sprffing aff his rut car blimey valmor gooxo blaka krcus up bobby shed a-50 William cock Richard. Bloke fanny around cheseci", titleClass: "medium", headingClass: "semi-bold"})
        .testmonial-feedback
          span.testmonial-feedback-icon-wrapper
            i.fas.fa-check.testmonial-feedback-icon
          span.testmonial-feedback-number 450+
          span.testmonial-feedback-text Client’s Feedback
        a(href="#").btn.btn--primary.testmonial-actions get in touch
        