extends layout/layout

block vars
	-title = ''
	-bodyClass = ''

block container
	main
		include ./blocks/brand
		include ./blocks/service
		include ./blocks/features
		include ./blocks/testmonial
		include ./blocks/blog
		include ./blocks/newsLetter